:root {
  --circlePath: "M114.632 127.147C110.362 127.147 106.556 127.516 103.478 124.096C101.399 121.786 101.849 115.95 103.267 113.467C105.088 110.28 124.14 109.269 125.997 112.52C130.667 120.691 135.555 131.538 128.839 139.933C125.361 144.279 111.879 142.301 106.529 142.301C97.4106 142.301 90.9616 136.159 87.3774 128.094C83.9723 120.433 86.8607 112.08 90.2186 105.364C91.5706 102.66 95.2082 99.4814 98.0057 98.6821C99.1997 98.341 102.359 96.7061 103.267 95.8935C105.86 93.5736 108.35 94.2568 111.581 93.2627C120.561 90.4995 132.065 95.3311 138.309 101.576C142.34 105.606 143.406 111.441 144.729 116.729C146.331 123.138 147.78 128.054 147.78 134.724C147.78 142.505 145.442 148.047 142.834 155.349C140.711 161.295 133.784 163.926 128.733 166.451C121.663 169.987 115.617 171.66 107.792 171.66C99.0978 171.66 94.5986 170.098 87.1669 165.557C73.8595 157.424 65.2551 141.615 63.5424 126.2C62.6414 118.091 61.4568 109.619 64.0159 101.576C66.4249 94.005 68.3187 84.7637 73.9077 78.8459C84.5262 67.6029 97.3126 64.6397 112.738 64.6397C123.266 64.6397 142.954 69.86 149.674 79.0564C151.697 81.8245 154.783 83.6501 156.725 86.4752C159 89.785 160.798 94.0554 162.407 97.735C165.271 104.281 167.761 111.66 169.353 118.623C171.009 125.868 171.457 132.966 171.457 140.406C171.457 152.203 167.868 159.883 163.407 170.292C157.96 183.003 140.076 193.245 126.418 194.338C115.026 195.249 103.532 196.051 92.1128 194.601C82.4521 193.374 69.4468 193.718 62.0692 186.34C53.2031 177.474 45.2875 167.604 37.9185 157.454C29.7867 146.253 27.5006 135.133 27.5006 121.886C27.5006 107.294 28.0052 93.0927 31.7625 78.8986C34.1668 69.8154 37.0909 57.623 43.8115 50.6439C57.159 36.7831 76.992 28.1259 96.4273 27.7034C108.64 27.4379 120.885 27.7034 133.1 27.7034C143.751 27.7034 153.524 34.4088 162.197 39.805C170.329 44.8651 177.945 52.1859 184.717 58.9572C194.566 68.8067 199.589 76.8617 204.395 90.211C212.682 113.23 213.453 143.191 204.132 165.978C200.818 174.077 198.111 181.671 193.766 189.339C190.802 194.57 185.383 207.699 178.929 209.544C174.309 210.864 169.658 214.93 165.038 216.91C159.261 219.386 153.87 220.909 147.57 220.909C134.784 220.909 121.999 220.909 109.213 220.909C74.6903 220.909 40.9562 207.2 23.3966 176.133C7.02497 147.167 -3.54495 111.04 3.8235 77.6884C6.50723 65.541 10.2668 49.0493 18.0298 39.0684C21.283 34.8856 22.8765 29.4505 26.3431 25.5988C30.6791 20.781 36.2613 18.2982 41.7069 14.9704C46.9827 11.7463 54.5251 6.4077 60.859 5.92048C67.8922 5.37946 81.4844 1.18506 81.4844 1.18506 Z";
  --randomPath: "M205.4 1.12402C200.961 1.12402 197.025 2.56238 192.695 3.33561C184.743 4.75554 176.749 7.41847 168.979 9.59393C149.988 14.9114 129.883 15.8296 110.96 21.3577C105.904 22.8348 100.688 23.7556 95.6204 25.2632C88.4752 27.3891 81.2847 29.4734 74.1163 31.5216C67.9922 33.2713 61.9488 35.3257 55.8119 37.027C51.2181 38.3005 46.3778 39.1111 41.9542 40.9326C34.562 43.9764 26.905 46.6626 19.3207 49.1907C16.6598 50.0777 13.993 50.4972 11.439 51.8493C9.97961 52.622 8.74154 53.3458 7.20407 54.155C5.25424 55.1813 -1.14001 56.6019 1.06339 56.6019C2.48755 56.6019 3.0755 58.9321 3.60437 59.9898C4.59178 61.9647 6.03192 63.8623 7.2276 65.7306C8.85806 68.2781 10.5187 70.8518 12.286 73.3064C13.65 75.2008 15.3536 76.8037 16.6151 78.7177C18.5245 81.6148 21.1895 84.2837 23.2969 87.0935C25.6309 90.2055 28.1157 93.1661 30.4022 96.3163C34.2968 101.682 38.6786 106.697 42.5659 112.08C44.7856 115.153 47.577 118.482 50.4241 120.973C53.3523 123.535 55.5968 126.91 58.0235 129.961C60.9952 133.697 64.2093 136.899 67.411 140.101C74.4197 147.11 81.7006 153.928 87.4564 162.029C90.1134 165.768 92.4582 169.686 95.3146 173.298C98.6381 177.502 101.021 182.318 104.184 186.615C108.06 191.879 113.407 196.488 116.466 202.284C117.531 204.303 119.107 206.126 120.277 208.119C122.886 212.56 125.738 217.115 128.747 221.294C132.104 225.957 135.138 230.853 138.488 235.505C139.785 237.307 141.182 239.027 142.511 240.799C143.739 242.436 144.606 240.518 145.781 239.552C152.357 234.145 160.03 229.586 167.285 225.153C172.195 222.153 176.447 218.091 181.261 214.895C190.135 209.003 198.294 201.449 205.988 194.097C209.44 190.798 213.447 188.279 217.493 185.768C220.818 183.704 224.559 182.768 227.633 180.262C230.251 178.129 232.626 175.632 235.468 173.816C248.335 165.596 261.27 156.708 276.006 152.077C279.117 151.099 283.26 150.465 286.052 148.689C286.993 148.09 287.851 147.389 288.828 146.9C291.37 145.63 286.768 146.391 285.723 146.383C281.299 146.35 276.909 145.959 272.477 145.959C262.744 145.959 253.012 145.959 243.279 145.959C231.024 145.959 218.524 145.261 206.341 146.806C201.714 147.393 197.085 148.5 192.413 148.5C187.04 148.5 181.811 148.393 176.508 149.347C166.168 151.208 155.769 152.421 145.522 154.853C136.965 156.883 127.877 156.123 119.124 156.123C115.004 156.123 110.986 157.827 107.031 158.852C103.647 159.73 100.105 158.922 96.6557 160.029C83.9458 164.108 71.0041 167.065 58.0235 170.31C52.6991 171.641 46.8528 172.931 41.9307 175.392C40.4345 176.14 39.0438 176.027 37.4134 176.027C33.5235 176.027 29.6336 176.027 25.7437 176.027C18.8633 176.027 11.8805 176.235 5.29835 177.698C4.52013 177.871 3.55429 177.721 2.75738 177.721C1.15575 177.721 2.06541 178.118 3.41615 177.51C7.6677 175.597 12.0414 173.801 15.5799 170.616C21.2973 165.471 29.8787 163.734 36.6605 160.593C40.9162 158.623 45.2921 156.977 49.6948 155.37C52.218 154.45 54.9383 152.899 57.6 152.406C62.4641 151.505 66.7941 149.23 71.3871 147.253C89.8651 139.301 110.005 136.065 128.324 127.537C134.551 124.638 140.765 122.688 147.381 120.973C150.787 120.09 154.442 118.6 157.968 118.432C161.924 118.244 166.429 113.848 169.497 111.75C175.382 107.727 181.66 104.636 188.036 101.492C193.999 98.5525 199.832 95.8526 205.4 92.1755C211.267 88.301 217.527 85.3441 223.563 81.8234C233.758 75.8761 243.639 69.7988 252.808 62.3191C256.511 59.2977 260.113 55.8423 263.395 52.3669C266.247 49.347 269.242 46.6722 272.218 43.8029C275.241 40.8875 280.062 38.8457 283.888 37.2152C284.758 36.8442 292.027 32.7345 291.275 32.2509C289.787 31.2945 287.529 31.2385 285.864 30.7452C283.307 29.9875 280.742 29.1305 278.241 28.2042C274.576 26.847 271.109 25.0587 267.442 23.7575C263.62 22.4014 259.419 21.0471 255.937 18.9579C253.821 17.6883 252.017 15.6962 249.773 14.6759C245.527 12.7459 242.179 9.19416 238.009 7.14707C236.103 6.21139 234.33 5.19737 232.503 4.1826C231.88 3.83618 230.356 3.52174 229.962 3.02975C228.442 1.12942 228.692 7.38609 228.692 7.89995C228.692 11.2392 227.37 14.4383 226.48 17.6403C225.925 19.6414 224.668 21.5597 223.939 23.5222C222.602 27.1241 221.998 30.836 221.304 34.6037C219.812 42.703 219.901 51.2672 217.775 59.237C216.968 62.2628 217.498 65.7334 216.74 68.8832C215.378 74.5404 214.333 79.9296 214.293 85.776C214.212 97.5835 212.61 109.438 210.294 121.02C209.379 125.592 208.531 130.222 207.47 134.76C206.278 139.862 203.454 143.696 203.259 148.971C203.046 154.722 201.396 160.397 200.53 166.075C199.678 171.659 198.504 177.19 197.871 182.803C197.013 190.414 197.565 197.969 195.659 205.484C194.094 211.659 194.432 218.334 193.942 224.706C193.738 227.352 193.778 239.11 189.401 237.764C186.943 237.007 185.493 235.072 183.284 233.717C174.264 228.182 166.39 221.384 157.992 215.013C150.633 209.43 144.264 202.659 137.005 197.014C128.712 190.564 119.215 185.804 110.866 179.415C100.993 171.86 91.0384 164.362 80.9393 157.111C76.9262 154.23 72.5049 152.12 68.5168 149.253C64.683 146.498 61.1418 143.416 57.153 140.877C53.7357 138.703 50.1021 136.868 46.8009 134.525C43.4143 132.122 40.159 129.917 36.4017 128.149C30.0785 125.173 23.6325 121.564 17.8856 117.585C13.2802 114.397 8.46805 112.029 3.60437 109.327C1.89581 108.378 -0.219943 108.192 1.29867 106.104C6.12968 99.4611 9.37086 92.8745 11.9566 85.1172C13.7352 79.7814 15.6613 73.9914 16.6151 68.4597C17.9865 60.5054 19.452 52.0539 21.8147 44.3441C23.4735 38.9309 24.1478 33.3245 26.4731 28.1571C27.3402 26.2302 27.6416 23.8674 28.1906 21.8282C28.9103 19.1552 29.9635 16.6024 30.4963 13.8759C31.188 10.3358 30.9091 6.3625 31.8609 2.91211C32.5871 0.279792 33.4067 1.71269 35.2489 2.818C42.4524 7.14016 49.4047 11.3907 56.9647 15.0994C61.7556 17.4496 65.9578 20.0824 70.4695 22.887C72.7713 24.3178 74.3407 24.652 76.9396 25.075C91.3749 27.425 104.659 32.6614 117.83 38.8151C127.256 43.2189 136.356 47.8323 146.252 51.1435C151.152 52.7834 156.259 53.8762 161.027 55.849C162.772 56.5712 164.225 58.1018 165.779 59.1429C168.369 60.8774 171.033 62.5106 173.638 64.2248C181.246 69.2317 189.35 73.2659 197.212 77.8237C202.715 81.014 208.372 83.7623 214.128 86.4583C220.826 89.5949 226.854 93.5989 233.256 97.2574C236.11 98.8883 239.185 99.6273 242.244 100.739C247.944 102.812 253.373 105.399 259.137 107.233C260.89 107.791 262.474 108.923 264.054 109.774C266.012 110.828 268.241 111.338 270.242 112.339C272.004 113.22 273.939 114.451 275.488 115.656C276.906 116.759 280.505 117.149 282.241 117.679C283.756 118.143 288.504 119.297 289.581 120.644C290.333 121.583 289.534 124.731 289.252 125.726C288.782 127.383 287.558 129.308 287.558 130.996C287.558 141.678 283.275 151.533 282.476 162.123C282.172 166.145 281.575 170.122 279.958 173.839C278.141 178.02 275.932 181.941 274.947 186.427C274.26 189.558 274.578 193.129 274.1 196.355C273.806 198.342 273.69 200.319 273.253 202.284C272.035 207.768 271.351 213.35 269.983 218.824C269.225 221.854 267.23 225.5 267.23 228.588C267.23 231.522 267.136 233.929 266.289 236.681C265.831 238.171 265.513 240.822 263.654 240.822C254.47 240.822 245.287 240.822 236.103 240.822C230.75 240.822 225.969 240.421 220.787 239.105C214.574 237.527 208.734 234.973 202.435 233.623C197.411 232.546 192.196 230.553 187.048 230.258C182.209 229.982 177.305 230.269 172.461 230.235C165.41 230.185 158.347 229.646 151.334 228.964C143.739 228.227 136.06 228.335 128.559 226.753C121.037 225.166 114.171 221.782 106.867 219.506C102.171 218.043 97.1187 218.155 92.256 217.718C81.8101 216.781 71.3033 217.107 60.8233 217.107C55.8159 217.107 50.9636 217.084 46.1892 215.413C41.2099 213.67 36.2127 211.793 31.0139 210.848C26.879 210.096 23.2148 209.846 19.2502 208.307C15.6031 206.892 11.7029 207.514 7.83932 206.919C6.11069 206.653 4.45087 205.249 2.75738 205.249C2.11241 205.249 0.703502 205.623 1.48689 205.013C3.3758 203.544 4.98851 201.676 6.87469 200.167C11.3611 196.578 13.24 191.62 15.9563 186.756C19.3726 180.638 22.9768 174.679 26.3084 168.499C28.8408 163.801 32.3953 159.473 34.1431 154.617C35.3344 151.308 37.9633 148.281 39.8132 145.301C42.3933 141.144 45.0259 137.228 47.2244 132.831C49.709 127.862 52.0549 122.874 54.9179 118.103C57.5989 113.634 60.4757 109.375 62.776 104.692C67.7982 94.4685 72.1353 84.0219 76.7514 73.6358C78.7969 69.0334 81.0411 64.429 82.6803 59.6605C83.9608 55.9355 84.8479 52.1255 86.6329 48.5555C92.5284 36.7645 99.1495 25.3458 104.608 13.4054C105.193 12.1262 105.173 10.6966 105.784 9.40571C106.331 8.25154 107.07 7.1251 107.572 5.99422C108.196 4.59206 108.625 3.25439 109.266 1.97101 Z";
  --path: var(--randomPath);
  --red: red;
  --blue: blue;
  --visibility: block;
}

body {
  background: beige;
}

/* letter */
@property --radial {
    syntax: "<percentage>";
    inherits: false;
    initial-value: 30%;
  }
  
  @property --highlight {
    syntax: "<percentage>";
    inherits: false;
    initial-value: -10%;
  }

p,
h1 {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

svg,
path {
  width: 100%;
}

label {
  font-family: sans-serif;
}

section {
  margin: 0 auto;
}

h1 {
  font-size: 2rem;
  background: linear-gradient(
      120deg,
      transparent calc(var(--highlight) - 12%),
      rgb(190, 190, 190),
      transparent calc(var(--highlight) + 12%)
    ),
    radial-gradient(at center 150%, black, transparent var(--radial));
  background-clip: text;
  color: transparent;
  animation: radialAnim 3s forwards, space 2s, highlightAnim 9s 2s forwards;
  letter-spacing: 0.5rem;
  text-align: center;
  display: var(--visibility);
  height: 100%;
}

@keyframes radialAnim {
  0% {
    --radial: 30%;
  }

  100% {
    --radial: 300%;
  }
}

@keyframes space {
  0% {
    letter-spacing: 0.5rem;
  }

  70% {
    letter-spacing: 1rem;
  }

  100% {
    letter-spacing: 0.5rem;
  }
}

@keyframes highlightAnim {
  0% {
    --highlight: 0%;
  }

  30% {
    --highlight: 100%;
  }

  100% {
    --visibility: none;
  }
}

/* top/bottom parts*/
section:nth-of-type(1),
section:nth-of-type(3) {
  width: 35rem;
  height: 20rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background: rgb(38, 37, 35);
  border-radius: 0.5rem;
}

/* screens */
:is(section:nth-of-type(1), section:nth-of-type(3)) > div:nth-of-type(2) {
  width: 18rem;
  height: 15rem;
  background-image: linear-gradient(
    to top left,
    rgb(113, 113, 113),
    rgb(252, 251, 251)
  );
  border: solid black 1rem;
  overflow: hidden;
}

/* top */
/* sound holes */
section:nth-of-type(1) > div:nth-of-type(1),
section:nth-of-type(1) > div:nth-of-type(3) {
  display: flex;
  gap: 1rem;
}

/* container cube */
section:nth-of-type(1) > div:nth-of-type(2) > div {
  position: relative;
  width: 2rem;
  height: 2rem;
  transform: rotateY(0deg) rotateX(0deg) translateY(-10rem);
  transform-style: preserve-3d;
  offset-path: path(var(--path));
  animation: rotateCube 3s infinite linear, pathAnim 12s infinite linear;
}

/* all sides of cube */
section:nth-of-type(1) > div:nth-of-type(2) > div > div {
  border: solid black;
  width: 100%;
  height: 100%;
  position: absolute;
  background: rgba(255, 0, 0, 1);
  position: absolute;
  backface-visibility: hidden;
  transform-style: preserve-3d;
}

/* individual sides cube */
section:nth-of-type(1) > div:nth-of-type(2) > div {
  /* back */
  > div:nth-of-type(1) {
    transform: translateZ(-1rem) rotateY(180deg);
  }

  /* front */
  > div:nth-of-type(2) {
    transform: translateZ(1rem);
  }

  /* right */
  > div:nth-of-type(3) {
    transform: rotateY(90deg) translateZ(1rem);
  }

  /* left */
  > div:nth-of-type(4) {
    transform: rotateY(-90deg) translateZ(1rem);
  }

  /* top */
  > div:nth-of-type(5) {
    transform: rotateX(90deg) translateZ(1rem);
  }

  /* bottom */
  > div:nth-of-type(6) {
    transform: rotateX(-90deg) translateZ(1rem);
  }
}

@keyframes pathAnim {
  from {
    offset-distance: 0%;
  }

  to {
    offset-distance: 100%;
  }
}

@keyframes rotateCube {
  from {
    transform: rotateY(0deg) rotateX(0deg);
  }

  to {
    transform: rotateY(359deg) rotateX(359deg);
  }
}

/* sound holes container */
section:nth-of-type(1) > :is(div:nth-of-type(1), div:nth-of-type(3)) span
{
  display: block;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

/* sound holes */
section:nth-of-type(1) > :is(div:nth-of-type(1), div:nth-of-type(3)) span {
    &::after, &::before {
        content: "";
        display: block;
        border: solid rgb(14, 15, 13);
        background-color: rgb(14, 15, 13);
        width: 0.1rem;
        height: 0.1rem;
        border-radius: 1rem;
    }
}

/* middle */
section:nth-of-type(2) {
  width: 35rem;
  border-radius: 10rem;
  height: 2rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
  border: solid black;
  background: rgb(38, 37, 35);
}

/* mic */
section:nth-of-type(2) > div:nth-of-type(1) {
  width: 0.5rem;
  height: 50%;
  border-radius: 1rem;
  background-color: rgb(14, 15, 13);
}

/* lights container */
section:nth-of-type(2) > div:nth-of-type(2) {
  position: absolute;
  right: 1rem;
  display: flex;
  gap: 0.3rem;
  border: none;
}

/* 2 lights */
section:nth-of-type(2) > div:nth-of-type(2) {
    &::before, &::after {
        content: "";
        display: block;
        width: 0.3rem;
        height: 1.2rem;
        border-radius: 1rem;
        background-color: grey;
    }

    &::after {
        background-color: green;
    }
}

/* 2 lines in the middle */
section:nth-of-type(2) {
    &::before, &::after {
        content: "";
        display: block;
        width: 0.1rem;
        height: 100%;
        background-color: rgb(14, 15, 13);
        border-radius: 1rem;
    }
}

/* bottom */
/* right buttons */
section:nth-of-type(3) > div:nth-of-type(3) {
  display: grid;
  grid-template-columns: repeat(3, 2rem);
  grid-template-rows: repeat(3, 2rem);
  grid-template-areas:
    ". top ."
    "left . right"
    ". bottom .";
}

/* right all individual buttons */
section:nth-of-type(3) > div:nth-of-type(3) > label {
  border-radius: 5rem;
  background-color: rgb(14, 15, 13);
  box-shadow: inset 0.1rem 0.1rem 0.1rem rgb(177, 177, 177),
    0.2rem 0.2rem 0.2rem rgb(15, 15, 15);
  color: white;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.9rem;
}

section:nth-of-type(3) > div:nth-of-type(3) > label > input {
  display: none;
}

/* right individual buttons clicked */
section:nth-of-type(3) > div:nth-of-type(3) > label:active {
  box-shadow: 
    inset 0.1rem 0.1rem
      0.1rem rgb(177, 177, 177),
    0.1rem 0.1rem 0.1rem rgb(15, 15, 15);
  transform: scale(0.9);
}

/* right individual buttons */
section:nth-of-type(3) > div:nth-of-type(3) {
  /* top */
  > label:nth-of-type(1) {
    grid-area: top;
  }

  /* left */
  > label:nth-of-type(2) {
    grid-area: left;
  }

  /* bottom */
  > label:nth-of-type(3) {
    grid-area: bottom;
  }

  /* right */
  > label:nth-of-type(4) {
    grid-area: right;
  }
}

/* left buttons d-pad */
section:nth-of-type(3) > div:nth-of-type(1) > div {
  display: grid;
  width: 5rem;
  height: 5rem;
  grid-template-areas:
    ". up ."
    "left . right"
    ". bottom .";
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  transition: 100ms;
}

/* left buttons d-pad all individual buttons */
section:nth-of-type(3) > div:nth-of-type(1) > div > label {
  z-index: 1;
  font-size: 1rem;
  color: white;
  background-color: transparent;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* left buttons d-pad all individual buttons */
section:nth-of-type(3) > div:nth-of-type(1) > div {
  > label:nth-of-type(1) {
    grid-area: up;
    box-shadow: inset 0.1rem 0.1rem 0.1rem rgb(177, 177, 177);
  }

  > label:nth-of-type(2) {
    grid-area: right;
    transform: rotate(90deg);
  }

  > label:nth-of-type(3) {
    grid-area: bottom;
    box-shadow: inset 0.1rem 0rem 0rem rgb(177, 177, 177);
  }

  > label:nth-of-type(4) {
    grid-area: left;
    transform: rotate(90deg);
    box-shadow: inset 0.1rem -0.1rem 0.1rem rgb(177, 177, 177);
  }
}

/* d-pad buttons active */
section:nth-of-type(3) > div:nth-of-type(1) {
  > div:has(label:nth-of-type(1):active) {
    transform: perspective(40rem) rotateX(15deg);
  }
  > div:has(label:nth-of-type(2):active) {
    transform: perspective(40rem) rotateY(15deg);
  }
  > div:has(label:nth-of-type(3):active) {
    transform: perspective(40rem) rotateX(-15deg);
  }
  > div:has(label:nth-of-type(4):active) {
    transform: perspective(40rem) rotateY(-15deg);
  }
}

/* d-pad top layers */
section:nth-of-type(3) > div:nth-of-type(1) {
    > div::after, div::before {
        background-color: rgb(14, 15, 13);
        border-radius: 0.3rem;
    }
}

section:nth-of-type(3) > div:nth-of-type(1) {
  > div::after {
    content: "";
    grid-row: up/bottom;
    grid-column: 2/3;
  }

  > div::before {
    content: "";
    grid-column: left/right;
    grid-row: 2/3;
  }
}

/* bottom screen */
section:nth-of-type(3) > div:nth-of-type(2) > div {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  /* all individual 4 containers options */
  > div {
    width: 7rem;
    /* height: 5rem; */
    text-align: center;
    border: solid black;
    border-radius: 1rem;
    overflow: hidden;

    /* container all options inside div where image goes 4 */
    > div:nth-of-type(1) {
      width: 100%;
      height: 5rem;
      overflow: hidden;
    }

    > input {
      width: 100%;
      height: 100%;
      margin: 0;
      display: none;
    }
  }
}

/* color red image/div */
section:nth-of-type(3) > div:nth-of-type(2) > div:nth-of-type(2) {
  > div:nth-of-type(1) > div {
    background-color: red;
  }
  /* color blue image/div */
  > div:nth-of-type(2) > div {
    background-color: blue;
  }
}

/* screen options */
section:nth-of-type(3) > div:nth-of-type(2) > div > div:has(input:checked) {
  --focus: purple;
  border: solid var(--focus) 0.2rem;
  box-shadow: 0.3rem 0.3rem 1rem rgb(136, 136, 136);
}

@container style(--focus: purple) {
  div {
    transform: scale(1.2);
  }
}

/* checkbox screen */
section:nth-of-type(3) > :is(div:nth-of-type(1), div:nth-of-type(2)) > div {
  display: none;
}

/* change screen options */
body:has(label[for="color"] > input:checked)
  section:nth-of-type(3)
  > div:nth-of-type(2)
  > div:nth-of-type(2),
body:has(label[for="path"] > input:checked)
  section:nth-of-type(3)
  > div:nth-of-type(2)
  > div:nth-of-type(1) {
  display: flex;
  justify-content: space-evenly;
}

/* change d-pad options */
body:has(label[for="color"] > input:checked)
  section:nth-of-type(3)
  > div:nth-of-type(1)
  > div:nth-of-type(2),
body:has(label[for="path"] > input:checked)
  section:nth-of-type(3)
  > div:nth-of-type(1)
  > div:nth-of-type(1) {
  display: grid;
}

/* change path cube */
body:has(
    section:nth-of-type(3)
      > div:nth-of-type(2)
      > div:nth-of-type(1)
      > div:nth-of-type(1)
      > input:checked
  )
  section:nth-of-type(1)
  > div:nth-of-type(2)
  > div {
  --path: var(--randomPath);
}

body:has(
    section:nth-of-type(3)
      > div:nth-of-type(2)
      > div:nth-of-type(1)
      > div:nth-of-type(2)
      > input:checked
  )
  section:nth-of-type(1)
  > div:nth-of-type(2)
  > div {
  --path: var(--circlePath);
}

/* change colors cube */
body:has(
    section:nth-of-type(3)
      > div:nth-of-type(2)
      > div:nth-of-type(2)
      > div:nth-of-type(1)
      > input:checked
  )
  section:nth-of-type(1)
  > div:nth-of-type(2)
  > div
  > div {
  background: var(--red);
}

body:has(
    section:nth-of-type(3)
      > div:nth-of-type(2)
      > div:nth-of-type(2)
      > div:nth-of-type(2)
      > input:checked
  )
  section:nth-of-type(1)
  > div:nth-of-type(2)
  > div
  > div {
  background: var(--blue);
}
